* {
  padding: 0;
  margin: 0;

  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 12px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  border: 1px solid #3b5998;
  width: 45%;
}
.left {
  display: flex;
  flex-direction: column;
  width: 23%;
  gap: 4px;
}
.right {
  width: 100%;
}
.midright {
  display: flex;
  gap: 6px;
  margin: 16px 12px 12px 12px;
}
.sanscredit {
  width: 100%;

  border: 1px solid #3b5998;
}
.bottomleft {
  border: dashed 1px #3b5998;
}
.midlleleft {
  display: flex;
  flex-direction: column;
  border: 1px dashed #3b5998;
  padding: 6px 0px 6px 0px;
}
.topleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed #3b5998;
  padding: 12px 4px 8px 4px;
}
.top {
  width: 100%;
}
.bottom {
  display: flex;
  padding: 6px 12px 24px 6px;
  gap: 6px;
}
.topright {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #3b5998;
  color: white;
}
.pascentrer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 16px;
}
.credit {
  margin-left: 120px;
  display: flex;
  gap: 12px;
}
.markcebg {
  margin-left: 145px;
}
.p2 {
  margin-left: 50px;
}
a {
  text-decoration: none;
  color: #538adc;
}
a:hover {
  text-decoration: underline;
}
.aligner {
  display: flex;

  width: 100%;
}
.ligne {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.imgleft {
  width: 100%;
  height: 519px;
}
input {
  width: 100%;
  background-color: #d9dfea;
  border: 1px solid #3b5998;
  border-radius: 0px;
}
.rightleft {
  width: 35%;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.rightright {
  width: 65%;
gap: 16px;
  height: max-content;
  border: 1px solid #3b5998;
  font-family: "Source Code Pro", monospace;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 12px;
}
.titre {
  display: flex;
  width: 100%;
  background-color: #3b5998;
  color: white;
}
.picture {
  border: 1px solid #3b5998;
}
table {
  border-collapse: collapse;
}
tr {
  border: 1px solid #3b5998;
}
.connection {
  border: 1px solid #3b5998;
}
.mutualfriend {
  border: 1px solid #3b5998;
}
.Access {
  border: 1px solid #3b5998;
}
.friends {
  border: 1px solid #3b5998;
}
.columns {
  display: flex;
  flex-direction: column;
}
.haut {
  display: flex;
  justify-content: space-between;
}
.bas {
  display: flex;
  justify-content: space-between;
}
.photo1 {
  width: 100px;
  height: 100px;
}
.photo2 {
  width: 52px;
  height: 77px;
}
.photo3 {
  width: 46px;
  height: 62px;
}
.photo4 {
  width: 53px;
  height: 38px;
}
.photo5 {
  width: 68px;
  height: 87px;
}
.photo6 {
  width: 63px;
  height: 43px;
}
.photo7 {
  width: 64px;
  height: 61px;
}
.center {
  display: flex;
  justify-content: center;
}
button {
  background-color: #538adc;
  border: none;
  box-shadow: 1px 1px#3B5998;
  color: white;
  padding: 2px 6px 0px 6px;
}
.petit {
  width: 80%;
}
h4 {
  font-weight: bold;
}

span {
  color: black;
}
span:hover {
  text-decoration: none;
}
